// Environment variables
environment {
	XDG_CURRENT_DESKTOP "niri";
	QT_QPA_PLATFORM "wayland";
	ELECTRON_OZONE_PLATFORM_HINT "auto";
	QT_QPA_PLATFORMTHEME "qt6ct";
	QT_QPA_PLATFORMTHEME_QT6 "qt6ct";
}

// Disable hot corners
gestures {
	hot-corners { off; }
}

// Looks/Appearance
layout {
	gaps 8;
	background-color "transparent";
	focus-ring { off; }
	border { off; }
}

window-rule {
	// Rounded corners for a modern look.
	geometry-corner-radius 20;

	// Clips window contents to the rounded corner boundaries.
	clip-to-geometry true;
}

// Floating Noctalia settings window
window-rule {
	match app-id="dev.noctalia.Noctalia.Settings";
	open-floating true;
	default-column-width { fixed 1080; }
	default-window-height { fixed 920; }
}

// Set the overview wallpaper on the backdrop
layer-rule {
	match namespace="^noctalia-backdrop";
	place-within-backdrop true;
}

// Basic keybindings
binds {
	Mod+Tab hotkey-overlay-title="Open overview" repeat=false { open-overview; }
	Mod+F hotkey-overlay-title="Toggle window maximize" repeat=false { maximize-window-to-edges; }
	Mod+Shift+F hotkey-overlay-title="Toggle window fullscreen" repeat=false { fullscreen-window; }
	Mod+Q hotkey-overlay-title="Close window" repeat=false { close-window; }
	Mod+Shift+S hotkey-overlay-title="Take a screenshot" repeat=false { screenshot; }
}

debug {
	// Allows notification actions and window activation from Noctalia.
	honor-xdg-activation-with-invalid-serial;
}