// Environment variables
environment {
	XDG_CURRENT_DESKTOP "niri"
	QT_QPA_PLATFORM "wayland"
	ELECTRON_OZONE_PLATFORM_HINT "auto"
	QT_QPA_PLATFORMTHEME "qt6ct"
	QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
}

// Looks/Appearance
layout {
	gaps 5
	background-color "transparent"
}

window-rule {
	// Rounded corners for a modern look.
	geometry-corner-radius 20

	// Clips window contents to the rounded corner boundaries.
	clip-to-geometry true
}

// Set the overview wallpaper on the backdrop
layer-rule {
	match namespace="^noctalia-overview*"
	place-within-backdrop true
}

debug {
	// Allows notification actions and window activation from Noctalia.
	honor-xdg-activation-with-invalid-serial
}