// Dank Material Shell (DMS) specific config
include "dms/alttab.kdl"
include "dms/colors.kdl"
include "dms/cursor.kdl"
include "dms/layout.kdl"
include "dms/outputs.kdl"
include "dms/wpblur.kdl"

// Tells Niri to place the wallpaper you're using on the overview
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

// Place blurred wallpaper on the overview if blur layer is enabled
layer-rule {
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
}

// Open DMS windows as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}

// Recommended window rules
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}