input {
	mod-key "Super"
	keyboard { numlock; }
	touchpad {
		tap
		natural-scroll
	}
}

binds {
	// Basics
	Mod+Tab hotkey-overlay-title="Open overview" repeat=false { open-overview; }
	Mod+Return hotkey-overlay-title="Launch the terminal" repeat=false {
		spawn-sh "env $TERMINAL";
	}
	Mod+D hotkey-overlay-title="Open application launcher" repeat=false {
		spawn "dms" "ipc" "spotlight" "toggle";
	}
	Mod+N hotkey-overlay-title="Open notification centre" repeat=false {
		spawn "dms" "ipc" "call" "notifications" "open";
	}
	Mod+F hotkey-overlay-title="Toggle window maximize" repeat=false { maximize-window-to-edges; }
	Mod+Shift+F hotkey-overlay-title="Toggle window fullscreen" repeat=false { fullscreen-window; }
	Mod+Q hotkey-overlay-title="Close window" repeat=false { close-window; }
	Mod+L hotkey-overlay-title="Lock screen" repeat=false {
		spawn "dms" "ipc" "call" "lock" "lock";
	}
	Mod+Shift+E hotkey-overlay-title="Toggle powermenu" repeat=false {
		spawn "dms" "ipc" "call" "powermenu" "toggle";
	}

	// Volume control
	Mod+Shift+Up hotkey-overlay-title="Increase volume by 3%" allow-when-locked=true {
		spawn "dms" "ipc" "call" "audio" "increment" "3";
	}
	Mod+Shift+Down hotkey-overlay-title="Decrease volume by 3%" allow-when-locked=true {
		spawn "dms" "ipc" "call" "audio" "decrement" "3";
	}
	Mod+Shift+M hotkey-overlay-title="Mute audio" allow-when-locked=true repeat=false {
		spawn "dms" "ipc" "call" "audio" "mute";
	}

	// Brightness control
	Mod+Ctrl+Up hotkey-overlay-title="Increase brightness by 5%" allow-when-locked=true {
		spawn "dms" "ipc" "call" "brightness" "increment" "5" "";
	}
	Mod+Ctrl+Down hotkey-overlay-title="Decrease brightness by 5%" allow-when-locked=true {
		spawn "dms" "ipc" "call" "brightness" "decrement" "5" "";
	}

	// Media player control
	Mod+Shift+N hotkey-overlay-title="Skip to next track" allow-when-locked=true repeat=false {
		spawn "dms" "ipc" "call" "mpris" "next";
	}
	Mod+Shift+P hotkey-overlay-title="Skip to previous track" allow-when-locked=true repeat=false {
		spawn "dms" "ipc" "call" "mpris" "previous";
	}
	Mod+Shift+Space hotkey-overlay-title="Play/Puase current track" allow-when-locked=true repeat=false {
		spawn "dms" "ipc" "call" "mpris" "playPause";
	}

	// Screenshot
	Mod+Shift+S hotkey-overlay-title="Screenshot entire screen" allow-when-locked=true repeat=false {
		spawn "dms" "ipc" "call" "niri" "screenshotScreen";
	}
	Mod+Ctrl+S hotkey-overlay-title="Screenshot selected area" allow-when-locked=true repeat=false {
		spawn "dms" "ipc" "call" "niri" "screenshot";
	}

	// Miscellaneous
	Mod+T hotkey-overlay-title="Toggle light/dark theme" repeat=false { spawn "dms" "ipc" "call" "theme" "toggle"; }
	Mod+W hotkey-overlay-title="Browse wallpapers" repeat=false { spawn "dms" "ipc" "call" "dankdash" "wallpaper"; }
	Mod+M hotkey-overlay-title="Open notepad" repeat=false { spawn "dms" "ipc" "call" "notepad" "open"; }
}